<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <%= simple_form_for [@user, @message], html: { class: 'form-horizontal' } do |f| %>
        <%= f.input :content, as: :text, label: "Content" %>
        <%= f.input :sender_id, as: :hidden, input_html: { value: current_user.id } %>
        <%= f.input :recipient_id, collection: @teachers.pluck(:first_name, :id), prompt: 'Select Teacher', label: "Recipient" %>
        <%= f.button :submit, "Send Reply", class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
