<div class="page-container">
  <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="py-4 border-bottom">
            <h1 class="mb-4">Hey, <%= current_user.first_name.capitalize %>!</h1>
            <h5>Here are your details: </h5>
          </div>
        <div class="col-md-6">
        </div>
          <div class="row mt-4">
            <div class="col-md-6">
              <p class="profile-text">First name: <%= current_user.first_name.capitalize %></p>
            </div>
            <div class="col-md-6">
              <p class="profile-text">Last name: <%= current_user.last_name.capitalize %></p>
            </div>
          </div>
          <div class="row">
              <p class="profile-text">Email: <%= current_user.email %></p>
          </div>
          <div class="row">
              <p class="profile-text">Role: <%= current_user.role %></p>
          </div>
          <div class="row">
            <%= link_to "Edit profile", edit_user_registration_path, class: "btn btn-primary inner-text" %>
          </div>
          <% if current_user.role == "Instructor" %>
            <div class="row">
              <%= link_to "Create a new course", new_course_path, class: "btn btn-primary inner-text mt-3" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
</div>
