<div class="course-card">
  <div class="d-flex flex-row align-items-center course-header">
    <div class="course-tag"><%= course.tag %></div>
    <p class="m-0">Starts on <%= course.start_date %></p>
  </div>
  <h3 class="course-title"><%= course.title %></h3>
  <p class="course-description"><%= course.description %></p>
  <div class="d-flex flex-row align-items-center course-creator">
    <%= cl_image_tag course.user.avatar %>
    <p class="creator-name m-0 ms-3"><%= course.user.first_name course.user.last_name %></p>
  </div>
</div>
