<div class="border-top mt-5">
  <div class="container">
    <footer class="pt-4">
      <h5>What To Learn</h5>
      <ul class="ul-footer">
        <li class="li-footer">
          <%= link_to "Home", courses_path, class: "link-footer" %>
        </li>
        <li class="li-footer">
          <%= link_to "About", courses_path, class: "link-footer" %>
        </li>
        <li class="li-footer">
          <%= link_to "Careers", courses_path, class: "link-footer" %>
        </li>
        <li class="li-footer">
          <%= link_to "Terms", courses_path, class: "link-footer" %>
        </li>
        <li class="li-footer">
          <%= link_to "Privacy", courses_path, class: "link-footer" %>
        </li>
      </ul>
      <h5>Follow Us</h5>
      <ul class="ul-footer">
        <li class="li-footer">
          <%= link_to courses_path do %>
            <i class="fa-brands fa-x-twitter fa-lg link-footer"></i>
          <% end %>
        </li>
        <li class="li-footer">
          <%= link_to courses_path do %>
            <i class="fa-brands fa-instagram fa-lg link-footer"></i>
          <% end %>
        </li>
        <li class="li-footer">
          <%= link_to courses_path do %>
            <i class="fa-brands fa-linkedin-in fa-lg link-footer"></i>
          <% end %>
        </li>
        <li class="li-footer">
          <%= link_to courses_path do %>
            <i class="fa-brands fa-facebook-f fa-lg link-footer"></i>
          <% end %>
        </li>
        <li class="li-footer">
          <%= link_to courses_path do %>
            <i class="fa-brands fa-youtube fa-lg link-footer"></i>
          <% end %>
        </li>
      </ul>
      <div class="pt-4 pb-2 border-top">
        <p>© 2024 What To Learn, Inc. All rights reserved.</p>
      </div>
    </footer>
  </div>
</div>
