<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container navbar-width">
    <%= image_tag "logo.svg", alt: "alternative_text", class: "img" %>
    <%= link_to "What To Learn", root_path, class: "navbar-title" %>
    <%= link_to "Courses", courses_path, class: "navbar-link" %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      </ul>

      <ul class="navbar-nav mb-lg-0">
        <% if user_signed_in? %>
          <% if current_user.instructor? %>
            <li class="nav-item my-auto"><div class="role-instructor"><%= current_user.role %></div></li>
            <li class="my-auto"><%= link_to "My Courses", user_enrollments_path, class: "nav-item navbar-link" %></li>
            <li class="nav-item dropdown">
              <a class="nav-link navbar-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-bars"></i>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Profile", user_profile_path, class: "dropdown-item" %></li>
                <li><hr class="dropdown-divider"></li>
                <li><%= link_to "Sign Out", destroy_user_session_path, data: { "turbo-method": :delete }, class: "dropdown-item"  %></li>
              </ul>
            </li>
          <% else %>
             <li class="nav-item my-auto"><div class="role-student"><%= current_user.role %></div></li>
            <li class="my-auto"><%= link_to "My Courses", user_enrollments_path, class: "nav-item navbar-link" %></li>
            <li class="nav-item dropdown">
              <a class="nav-link navbar-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Settings
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Profile", user_profile_path, class: "dropdown-item" %></li>
                <li><hr class="dropdown-divider"></li>
                <li><%= link_to "Sign Out", destroy_user_session_path, data: { "turbo-method": :delete }, class: "dropdown-item"  %></li>
              </ul>
            </li>
          <% end %>
        <% else %>
          <%= link_to "Login", new_user_session_path, class: "nav-item btn btn-light border border-secondary" %>
          <%= link_to "Sign up", new_user_registration_path, class: "nav-item btn btn-primary ms-4" %>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
