<div class="container mt-3">
  <div class="row justify-content-center"> <!-- Center the form horizontally -->
    <div class="col-md-8"> <!-- Specify the width of the form -->
      <h1 class="text-center">Enroll in <%= @course.title %></h1>

      <%= simple_form_for @enrollment, url: course_enrollments_path(@course), html: { class: 'form-horizontal' } do |f| %>
        <%= f.error_notification %>

        <%= f.simple_fields_for @credit_card do |cc| %>
          <%= cc.input :card_number, label: "Credit Card Number", placeholder: "1234 5678 9012 3456", input_html: { class: 'form-control' } %>

          <div class="row">
            <div class="col-md-6">
              <%= cc.input :expiry_month, label: "Expiry Month", collection: 1..12, include_blank: "Month", placeholder: "MM", input_html: { class: 'form-control' } %>
            </div>
            <div class="col-md-6">
              <%= cc.input :expiry_year, label: "Expiry Year", collection: Date.today.year..(Date.today.year + 10), include_blank: "Year", placeholder: "YYYY", input_html: { class: 'form-control' } %>
            </div>
          </div>

          <%= cc.input :cvv, label: "CVV", placeholder: "123", input_html: { class: 'form-control' } %>


        <% end %>

        <div class="form-group">
          <div class="text-center"> <!-- Center the button horizontally -->
            <%= f.button :submit, "Pay Now", class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>


<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
