<div class="card text-center mt-3">
  <%= simple_form_for([@course, @review]) do |f| %>
    <div class="card-body">
      <p class="card-text">
        <%= f.input :comment, label: 'Share your experience', placeholder: 'Enter your review here...', input_html: { rows: 3 } %>
      </p>
      <%= f.button :submit, 'Submit Review', class: 'btn btn-secondary' %>
      <div class="form-group">
        <label class="control-label col-sm-12">Rating</label>
        <div class="col-sm-12">
          <div class="rating">
            <% (1..5).each do |star| %>
              <%= f.radio_button :rating, star, class: 'rating-input', id: "rating-#{star}" %>
              <%= f.label "rating-#{star}", "☆", class: 'rating-star', title: "#{star} stars" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <div class="card-footer text-muted">
    Reviews help others learn more about the product!
  </div>
</div>
