<script type="text/javascript" src="https://cdn.addevent.com/libs/atc/1.6.1/atc.min.js" async defer></script>
<% colors_array = [  "#d8e5e9", "#ffcccc", "#e6d9e6", "#ffe6cc", "#ffe6cc", "#f2f2ff", "#ffebf2","#f0f8ff", "#ffe4e1", "#f5f5dc", "#f0fff0", "#faf0e6", "#f0ffff", "#f5deb3", "#f0f8ff"] %>
<div class="page-container">

  <div class="d-flex flex-row gap-5 justify-content-between">
    <div class="col-7 d-flex flex-column gap-4">
      <div class="row gap-3 m-0 pb-4 border-bottom">
        <h1 class="show-title p-0"><%= @course.title %></h1>
        <p class="show-description p-0"><%= @course.description %></p>
        <div class="d-flex flex-row gap-3 p-0 pb-3">
          <div class="course-tag", style="background-color: <%= colors_array.sample %>; border: 0.5px solid lightgray">
          <%= @course.tag %>
          </div>
          <div class="">
              <% if @course.end_date < Date.today %>
                <div class="course-tag m-0" style="border: 1px solid lightgray;">Finished</div>
              <% elsif @course.start_date <= Date.today && @course.end_date >= Date.today %>
                <div class="course-tag m-0" style="border: 1px solid black;">On-going</div>
              <% else %>
                <div class="course-tag m-0" style="border: 1px solid navy; color: navy;">Coming Soon</div>
              <% end %>
          </div>
        </div>
      </div>
    <%= render 'data' %>
    </div>
    <div class="col-3 d-flex flex-column">
      <div class="sticky-top">
        <div class="enroll-card d-flex flex-column mb-1">
        <%= render 'cta_teacher' %>
        </div>
        <div class="enroll-card-2 mt-4">
          <%= render 'courses/student/teacher_bio' %>
        </div>
      </div>
    </div>
  </div>

</div>
