<% if current_user.role = "Student"%>
    <%= render 'student' %>
<% else %>
    <%= render 'teacher' %>
<% end %>
<div class="container mt-5">
  <div class="justify-content flex-start">
    <h6>(69 RATINGS)</h6>
    <h3>What students are saying</h3>
    <% @course.reviews.each do |review| %>
        <% review.rating.times do %>
          <i class="fas fa-star star-yellow"style="color:#FFEA00"></i>
        <% end %>
        <small><em class="text-muted"><%= distance_of_time_in_words_to_now(review.created_at) %> ago</em></small>
        <p class="mb-0"><%= review.comment %></p>
        <p class="mb-0"><%= review.course.user.first_name %></p>
    <% end %>
  </div>
</div>
